* {
    margin: 0;
    padding: 0;
    font-family: "Ariel", sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    color: white;
}

button:hover {
    cursor: pointer;
}

.kanban-table {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    background: #1e5f4e;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.kanban-column {
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
}

.add-button {
    background-color: #105e4a;
    border: 0px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
    color: white;
    font-size: 20px;
}

.task {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.task p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    hyphens: auto;
    max-width: 90%;
}

.edit-task-btn,
.delete-task-btn {
    outline: none;
    border: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: rgb(176, 64, 64);
    font-size: 20px;
}

.edit-task-btn {
    transform: rotate(135deg);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #1e5f4e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

.task-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.save-task {
    background: #28a745;
    color: white;
}

.cancel-task {
    background: #dc3545;
    color: white;
}

.error {
    border: 2px solid red;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}